* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2#quote {
    width: 50%;
}

#newQuote {
    padding: .3% .6%;
}

